.page-body {
    padding-right: 30px;
    padding-left: 30px;
    max-width: 1280px;
    margin: auto;
    padding-bottom: 40px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.bg-content {
  padding-top: 20%;
  padding-left: 10%;
  color: #f9f9f9;
}

.bg-content a {
  color: #f9f9f9;
  text-decoration: underline;
}

.bg-content p {
  font-size: 1.5em;
}

.title {
  margin-top: 30px;
}

section {
  margin-top: 30px;
}

.item-label {
  margin-bottom: 15px;
  font-weight: bold;
}
@media (min-width: 640px) {
  .page-body{
    position: relative;
  }

  #nav {
    margin-top: 10px;
  }

  .scroll0 {
    background-color: rgba(249,249,249, 0);
    color: #f9f9f9;
  }

  .scroll0 a:hover, .bg-content a:hover {
    color: #f9f9f9;
    font-weight: bold;
  }

  .scroll0 a {
    color: #f9f9f9;
  }
  .bg-image {
    background-image: url("bg-min.png");
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  nav {
    position: fixed;
    max-width: 1280px;
    padding-right: 30px;
    padding-left: 30px;
    margin: auto;
    top: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    background-color: rgba(249,249,249, 0.9);
  }
}

@media (min-width: 640px) and (max-width: 770px) {
  nav {
    height: 100px;
  }
}

@media (min-width: 771px) {
  nav {
    height: 60px;
  }
  .large-right {
    float: right;
  }
}

@media (max-width: 639px) {
  #cover {
    display: none;
  }
}

.logo {
  margin-right: 10px;
}
